@import '../styles/variables';

/* App */
.App {
  position: relative;
}

/* Common Styles */
.FullCenterContainer {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  min-height: $section-min-height;
  width: 100%;
}

/* Styled Components - Mixins */
@mixin mixin-input {
  font: $font-input;
  border-radius: $border-radius;
  line-height: 1.5rem;
  padding: $padding-input;
}

@mixin mixin-button {
  cursor: pointer;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: .25s;
}

/* Styled Components - Classes */
.InputBox {
  @include mixin-input;
  border-bottom: 1px solid $alto;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, .39),
    0 -1px 1px $white, 0 1px 0 $white;
  caret-color: $swamp;
  color: $swamp;
  height: 2.5rem;

  &:focus {
    box-shadow: 0 0 0 .15rem rgba(5, 108, 249, .5);
    outline: 0;
  }
}

.ButtonPrimary {
  @include mixin-input;
  @include mixin-button;
  background-color: $blue-ribbon;
  color: $white;
}

.ButtonLink {
  @include mixin-input;
  @include mixin-button;
  background: transparent;

  &>a {
    color: $blue-ribbon;
  }
}

.ButtonLink:hover {
  text-decoration: underline;
}

.ErrorMessage {
  display: block;

  &>.Icon {
    color: blue;
  }

  &>span {
    font: $font-message;
    color: $crimson;
    display: block;
  }
}

/* --- Hover --- */
.Button:hover,
.ButtonLink:hover {
  filter: brightness($dim);
}
