@charset "utf-8";
@import './variables.scss';

/* Google Fonts */
/* Reference: https://accessibility.digital.gov */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* CSS Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
ul,
ol,
li,
a,
img,
span,
p,
b,
input,
label,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: $solitude;
}
